.container{
    display:flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}
.card_container{
    padding-block: 5rem;
}
.card_content{
    margin-inline:1.75rem ;
    border-radius: 1.25rem;
    overflow: hidden;
}
.card_article{
    width: 300px;
    border-radius: 1.25rem;
    overflow: hidden;
}
.card_image{
    position: relative;
    background-color: rgb(237, 25, 237);
    /*background-color: var(--first-color-light);*/
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
}
.card_data{
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;

}
.card_img{
    width: 180px;
    margin: 0px;
    position: relative;
    z-index: 5;
}
.card_shadow{
    width: 200px;
    height: 200px;
    background-color: var(--first-color-alt);
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline:auto;
    filter: blur(45px);
}
.card_name{
    font-size: var(--h2-font-size);
    color: var(--second-color);
    margin-bottom: .75rem;
}
.card_description{
    font-weight: 500px;
    margin-bottom: 1.75rem;
}
.card_image{}